<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
		<table style="width:100%;margin:10px">
			<tr>
				<td style="width: 96%;vertical-align: top;">
					<div class="list-group" style="margin-top:20px" >
						<h3 class="list-group-item active">Home</h3> <br>
					</div>
				</td>
				<td style="vertical-align: top;padding-left:10px;">
				</td>
			</tr>
		</table>
		<div align="center" style="margin-top:20px;" ng-app="ngSpApp" ng-controller="HomeCtrl">
			<br>
			<p style="font-family: sans-serif;font-size: 25px;">WELCOME</p>
			<input type="file" name="file" style="visibility:hidden;" id="pdffile" /><br/>
			<div class="input-append">
	   			<input type="text" name="subfile" id="subfile" class="input-xlarge" ng-model="symbol">
   				<button class="btn btn-primary" ng-click="look()">Get Quote</button>
			</div>
			<br><br>
			<div id='result'>{{output}}</div><!-- sync problem, had to apply alternate for now -->
		<br/>		
		</div>
	</div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  
  <script src="control.js"></script>
</body>
</html>